
@{
    ViewBag.Title = "Mwssages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in ViewBag.msg)
{


    <table class="tbl">
        <tr>
            <td class="td1" style="width:60vw;">@item.Msg</td>
            <td class="td1" style="width: 15vw;">Автор</td>
            <td class="td1" style="width:25vw;">Дата создания <div><button style="background:red;color:greenyellow;">Удалить</button></div></td>
        </tr>
    </table>
}
<div>
    <form action="AddMessInTheme" method="post">
        <label>Добавить сообщение в тему</label><br />
        @{
            foreach (var item in ViewBag.msg)
            {
                ViewBag.a = item.IdTheme;
            }

                <input type="number" name="IdTh" value="@ViewBag.a">
            
         }
        
        <table>
            <tr>
                <td> <textarea placeholder="Сообщение" cols="100" rows="3" name="Msg"></textarea></td>
                <td valign="top"><button type="submit">Добавить сообщение</button></td>
            </tr>
        </table>


    </form>

</div>