
@{
    ViewBag.Title = "ShowThemes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in ViewBag.Th)

    {
        <table class="tbl">
            <tr>
                <td class="td1" style="width:60vw;"><a style="text-decoration:none; color:black;"  href="ShowMessInTheme?idTheme=@item.Id">@item.ThemeName</a></td>
                <td class="td1" style="width: 15vw;">Количество сообщений в теме</td>
                <td class="td1" style="width:25vw;">Дата создания и дата последнего ответа</td>
            </tr>
        </table>
    }


