<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="icon" href="~/Content/Template/logo.png" />
    <link rel="stylesheet" href="~/Content/Template/style.css" />
    <script src="~/Content/Template/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="main_body">
        <header>
            <div class="logotip"></div>
        </header>
        <div class="menu">


            <nav class="one">
                <ul class="topmenu">
                    <li><a class="a1" href="#">Home</a></li>
                    <li><a class="a1" href="#">Work</a></li>
                    <li>
                        <a class="a1" href="#">About<i class="fa fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li><a class="a1" href="">Item 1</a></li>
                            <li><a class="a1" href="">Item 2</a></li>
                        </ul>
                    </li>
                    <li><a class="a1" href="#">Blog</a></li>
                    <li><a class="a1" href="#">Contact</a></li>
                </ul>
            </nav>

        </div>


        <div class="main">
           @RenderBody()

        </div>

        <footer>
            FOOTER
        </footer>
    </div>

</body>
</html>
